@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import './pages';
@import './components';
@import './layout/dashboard';
@import './vendor/_variables.scss';

@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  padding: 0;
  margin: 0;
  color: $text-primary;
  background-color: aliceblue;
  font-size: 14px;
  font-family: 'Poppins', sans-serif !important;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

#main {
  border-radius: 20px;
  background: $primary;
}
